{{define "emailConfirmation"}}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h3 style="font-family: Arial, Helvetica, sans-serif;">All done, your preregistration is now completed 👍</h3>
    <h3 style="font-family: Arial, Helvetica, sans-serif;">Welcome on <a style="text-decoration: none; color: #ff914d; font-weight: bolder;" href="http://poln.org">fairhive</a> 😎</h3>
</body>

</html>
{{end}}